.navbar-top {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, .04);
  height: 60px;
  border-bottom: 1px solid #bbb;
  font-family: "Roboto", sans-serif;
}

.navbar-top-left {
  width: 200px;
}

.navbar-top-logo {
  margin: 15px 30px;
  font-size: 25px;
  line-height: 30px;
  color: #333;
  font-weight: 400;
  display: inline-block;
}

.navbar-top-right {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  align-items: center;
  width: calc(100% - 200px);
}

.navbar-top-search {}

.navbar-top-user-options {
  position: relative;
}

.navbar-top-user-icon {
  cursor: pointer;
  height: 32px;
  width: 32px;
  border: 1px solid #aaa;
  border-radius: 16px;
}

.user-dropdown {
  position: absolute;
  background-color: #fff;
  right: 0px;
  top: 45px;
  width: 300px;
  border: 1px solid #bbb;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.2);
}

.user-dropdown:before {
	content: '';
	position: absolute;
	top: 0;
	right: 6px;
	width: 0;
	height: 0;
	border: 9px solid transparent;
	border-bottom-color: #bbb;
	border-top: 0;
	margin-left: -9px;
	margin-top: -9px;
}
.user-dropdown:after {
	content: '';
	position: absolute;
	top: 0;
	right: 7px;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-bottom-color: #fff;
	border-top: 0;
	margin-left: -8px;
	margin-top: -8px;
}

.user-dropdown-top {
  height: 140px;
  border-radius: 1px 1px 0 0;
  border-bottom: 1px solid #bbb;
  display: flex;
  justify-content: space-between;
}

.user-dropdown-top-left {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 50%;
  border: 1px solid red
}

.user-dropdown-top-right {
  border: 1px solid blue;
  margin: 20px;
}

.user-dropdown-bottom {
  height: 46px;
  border-radius: 0 0 1px 1px;
  background-color: #f5f5f5;
}
