.signin {
  min-height: 100%;
  width: 100%;
  padding: 100px 0;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  font-family: "Roboto", sans-serif;
}

.signin-main {
  background: #fff;
  width: 450px;
  height: 500px;
  margin: 0 auto;
  padding: 50px 40px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
}

.signin-form .navbar-logo {
  font-size: 20px;
  color: #333;
}

.signin-form .navbar-logo .fa {
  font-size: 22px;
}

.signin-bigtext {
  margin-top: 26px;
  font-size: 23px;
}

.signin-smalltext {
  margin-top: 7px;
  font-size: 14px;
}

.signin-input-wrapper {
  position: relative;
  margin-top: 60px;
}

.signin-input {
  width: 100%;
  border: 0;
  padding: 3px;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}

.signin-input + span {
  position: relative;
  top: -2px;
  background: #ccc;
  width: 0;
  height: 2px;
  display: block;
  margin: auto;
  content: '';
  transition: width .2s, background .2s;
  -webkit-transition: width .2s, background .2s;
}

.signin-input:focus + span {
  width: 100%;
  background: #3079ed;
  transition: width .2s, background .2s;
  -webkit-transition: width .2s, background .2s;
}

.signin-input ~ .email-placeholder {
  position: absolute;
  top: 5px;
  left: 3px;
  font-size: 15px;
  color: #777;
  transition: all .25s ease-out;
  -webkit-transition: all .25s ease-out;
}

.signin-input:focus ~ .email-placeholder {
  top: -14px;
  left: 2px;
  font-size: 11px;
  color: #3079ed;
}

.signin-input ~ .email-placeholder.filled {
  top: -14px;
  left: 2px;
  font-size: 11px;
  color: #3079ed;
}

.signin-button {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  border: none;
  border-radius: 4px;
  background-color: #4d90fe;
  margin-top: 40px;
  margin-bottom: 10px; // TEMP
  padding: 11px 26px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.6);
  float: right;
}

.signin-button:focus {
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.6);
}
