.signup {
  font-family: "Roboto", sans-serif;
  min-width: 950px;
  color: #333;
}

// NAVBAR =================

.signup-navbar {
  height: 72px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.signup-navbar-left .navbar-logo {
  padding: 21px;
  margin: 0 27px;
  color: #555;
  float: left;
}

.signup-navbar-right {
  float: right;
}

.signup-navbar-signin-wrapper {
  border: 1px solid #3079ed;
  margin-top: 22px;
  margin-right: 48px;
  border-radius: 3px;
}

.signup-navbar-signin-button {
  cursor: default;
  display: inline-block;
  color: #fff;
  background-color: #4d90fe;
  border: 1px solid #4d90fe;
  border-radius: 2px;
  line-height: 25px;
  height: 27px;
  padding: 0 13px;
  font-size: 13px;
}

.signup-navbar-signin-button:hover {
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
}

.signup-navbar-signin-button:focus {
  border: 1px solid #fff;
}

// MAIN =========================

.signup-main {
  border: 1px solid red;
  margin: 0 auto;
  padding: 50px;
  width: 950px;
  display: flex;
  flex-direction: column;
}

.signup-main-header {
  margin-bottom: 50px;
  color: #555;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}

.signup-main-body {
  display: flex;
  justify-content: space-between;
}

.signup-main-left {
  border: 1px solid red;
  height: 600px;
  width: 400px;
}

.signup-main-right {
  height: 600px;
  width: 400px;
  padding: 30px;
  background-color: #f1f1f1;
}

// FORM ================

.signup-input-section {
  margin-bottom: 20px;
}

.signup-label {
  font-weight: 700;
  font-size: 13px;
}

.signup-input {
  margin-top: 8px;
  font-size: 13px;
  padding: 5px 8px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
}

.signup-input.full {
  width: 340px;
}

.signup-input:hover {
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.3);
}

.signup-input:focus {
  border: 1px solid #3079ed;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.3);
}

.signup-input.error {
  border: 1px solid #d50000;
}

.signup-names {
  display: flex;
  justify-content: space-between;
}

.signup-input.name {
  width: 165px;
}

.signup-label.email {
  position: relative;
}

.signup-email-tag {
  position: absolute;
  right: 9px;
  top: 30px;
  font-weight: 400;
  color: #888;
}

.signup-navbar-signin-button.next-step {
  font-size: 11px;
  font-weight: 700;
  line-height: 27px;
  height: 29px;
}

.next-step-wrapper {
  border: 1px solid #3079ed;
  margin-top: 10px;
  float: right;
  border-radius: 3px;
}
